* {
    margin: 0;
    padding: 5px;
}

body {
    background-color: #e6fff8;
    font-family: 'Times New Roman', Times, serif;
    margin: 36px;
}

h1 {
    display: flex;
    margin: 30px;
    justify-content: center;
    color: #11465f ;
}

h2 {
    display: flex;
    justify-content: baseline;
    margin: 30px;
    color: #11465f ;
}
h3{
    display: flex;
    justify-content: baseline;
    margin: 30px;
    color: #11465f ;
    padding: 36px;
}


#submit {
    color: rgb(255, 255, 255);
    background-color: #11465f;
    display: flex;
    padding: 8px;
    justify-content: center;

}
#hyra{
    color: rgb(255, 255, 255);
    background-color: #11465f;
    display: flex;
    padding: 12px;
    justify-content:center;
    align-items: center;
    margin: 120px;
    font-size: large;


}